.questions-wrap {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
  background: #eff5f9;
  overflow: hidden;
}

.questions {
  padding: 20px; 
}

.questions-list{
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.question-block{
  padding: 0 20px 0 20px;
  width: 100%;
  background: white;
  height: 80px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 20px;
  border-left: 7px solid #1abc9c;
}

.question-link {
  text-decoration: none;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 200px 200px;
  cursor: pointer;
}

.question-block:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.question-name, .question-desc {
  display: flex;
  align-items: center;
}

.question-name {
  color: black;
}

.desc {
  color: #636e72;
  margin-right: 20px;
}

.time {
  color: #636e72;
}

.topics {
  height: 100%;
  box-sizing: border-box;
  padding: 5px 0 5px 0;
  border-left: 2px da
}

.count, .count-desc {
  font-weight: bold;
  color: #2c3e50;
}

.answers-count {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best-answers {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .link-wrap {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #1abc9c;
} */

.link {
  color: #1abc9c !important;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #1abc9c;
}

.search-block, .sort-block {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
}

.sort-block {
  height: 100%;
  position: sticky;
  flex-direction: column;
}

.sort-controls {
  display: flex;
}

.create-button-block, .sort-count-answers {
  width: 100%;
  display: inline-flex;
  flex-wrap: initial;
  align-items: center;
  height: 80px;
  border-top: 2px dashed #dfe6e9;
}

.sort-count-answers {
  border-top: 0;
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100%;
  overflow: auto;
  position: relative;
}

.content-wrap .sort-block-header {
  width: 100%;
  text-align: center;
}

.controls {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 0;
}

.controls-block {
  background: white;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  top: 20px;
  position: sticky;
}